
.context {
    background: rgba(0, 0, 0, 0.50);
    .contextItem:hover {
        background: rgba(0, 0, 0, 0.60);
    }
}

::-webkit-scrollbar {
  display: none;
}

.scale-fade-enter-active {
  transition: all 0.2s ease;
}
.scale-fade-exit-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}
.scale-fade-enter,
.scale-fade-exit-to {
  transform: scale(0.8);
  opacity: 0;
}