@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Silkscreen:wght@400;700&display=swap');

html, body, #root {
  font-family: "Silkscreen", serif!important;
}

.context {
    background: rgba(61, 69, 84, 0.361);
    .contextItem:hover {
        background: rgba(0, 0, 0, 0.3);
    }
}


::-webkit-scrollbar {
  display: none;
}

.scale-fade-enter-active {
  transition: all 0.2s ease;
}
.scale-fade-exit-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}
.scale-fade-enter,
.scale-fade-exit-to {
  transform: scale(0.8);
  opacity: 0;
}